





.cartdiv
 {   scrollbar-track-color:yellow;
     background-image: url(http://cs623223.vk.me/v623223802/46a60/B-klt2Ocxyo.jpg);
     position:absolute;
     top:0;
     bottom:0;
     height:100%;
     right:0;
     width:0%;
  
     opacity:0;
     -webkit-transition:width .05s linear;
     transition:width .05s linear;
     -webkit-transform:translateZ(0) scale(1,1);
     z-index:1000;
     overflow:hidden;
 }
 
 .carticon
  {
    margin-top:10px;
    margin-left:5px;
    width:40px;
    position:relative;

  }
  
   .elemicon
  {
    margin-left:6px;
    width:20px;
    position:relative;
    opacity:0;
    float: left;
    

  }
  
  .cartelemdiv
  {
     color: #171123;
     border-radius:2px;
     width:1px;
     height:40px;
     margin-top:5px;
     padding-left:5px;
     padding-bottom:3px;
     background:#648381; /* Параметры тени */
  }
  
  
  .cartelemdiv:hover
  {
 
    background:#88D498;
    border:5px;
    transition: 0.8s ease;
    


  }  

.icondiv
{
  width:40px;
  height:50px;

}



.elemtext
{
  position:relative;
}

.delimeter
{
  height:10px;
  position:relative;
}




.cartelemdivright
{ 

   float:right;
   width:150px;
   height:74px;
   display:none;

   margin-top:-22px;


}

.cartelemdivright_up
{
  margin:0px;

  height:40px;
  width:142px;

}


.cartelemdivright_down
{
  margin:0px;

  height:35px;
  width:142px;

}


.carttitle
{
  
  text-align: left;
  margin:0px;
  padding:0px;
  float:left;
}


.carttitleQuantity
{
  
  text-align: left;
  margin:0px;
  padding:0px;
  float:left;
    font-size:15px;
}



.carttitlePrice
{
  
  text-align: left;
  margin:0px;
  padding:0px;
  float:left;
    font-size:23px;
}


.plusbutton
{
  display: inline-block;
  border-radius: 2px;
  border: none;
  padding: 0;
  width:22px;
  font-size:17px;
  height:22px;
  background-color:#A0CED9;
}

.plusbutton:hover 
{
    opacity: 0.4;
    transition: .2s ease;
}


.plusminusbtns
{
  margin-left:5px;
  margin-right:5px;
  float:left;
}




.deleteitem
{
  margin-top:-39px;
  margin-right:-9px;
  width:25px;
  height:25px;
  float:right;
  border-bottom-left-radius: 1em 3em;
  background: #88D498;
  border:5px;
  border-color:#5B85AA;
  
}


.deleteitem:hover
{
  
    opacity: 0.4;
    transition: .2s ease;
}










