





.cartdiv
 {   scrollbar-track-color:yellow;
     background: -webkit-linear-gradient(left, #FFDC00, #FFDC20  );
     position:absolute;
     top:0;
     bottom:0;
     height:100%;
     right:0;
     width:0%;
     
     opacity:0;
     -webkit-transition:width .05s linear;
     transition:width .05s linear;
     -webkit-transform:translateZ(0) scale(1,1);
     z-index:1000;
     overflow:hidden;
 }
 
 .carticon
  {
    margin-top:10px;
    margin-left:5px;
    width:40px;
    position:relative;

  }
  
   .elemicon
  {
    margin-left:6px;
    width:20px;
    position:relative;
    opacity:0;
    float: left;
    

  }
  
  .cartelemdiv
  {
     width:40px;
     height:40px;
     margin-top:2px;
     padding-left:4px;
     padding-bottom:1px;

  }

.icondiv
{
  width:40px;
  height:50px;

}



.elemtext
{
  position:relative;
}

.delimeter
{
  height:10px;
  position:relative;
}




.cartelemdivright
{ 

   float:right;
   width:150px;
   height:74px;
   display:none;

   margin-top:-22px;


}

.cartelemdivright_up
{
  margin:0px;

  height:40px;
  width:142px;

}


.cartelemdivright_down
{
  margin:0px;

  height:35px;
  width:142px;

}


.carttitle
{
  
  text-align: left;
  margin:0px;
  padding:0px;
  float:left;
}

.plusbutton
{
  display: inline-block;
  border-radius: 2px;
  border: none;
  padding: 0;
  width:22px;
  font-size:17px;
  height:22px;
  background-color:#F07444;
}

.plusbutton:hover 
{
    opacity: 0.4;
    transition: .2s ease;
}


.plusminusbtns
{
  margin-left:5px;
  margin-right:5px;
  float:left;
}


















